<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="<%= assestPath('css/shopcomPage.css') %>">
<div id="Category">
            <div class="Category_heading">
                <h2>Category</h2>
            </div>
            <div class="Category_list">
                <div class="lmove_arror"><button"><i class='fas fa-angle-left' style='font-size:24px'></i></button></div>
                <div id="Category_bucket">
                <div id="Category_items">
                    <div id="item1" onclick="handler('Cars');">
                        <div class="cati"><i class="fa-solid fa-car"></i></div>
                        <div><h2>Cars</h2></div>
                    </div>
                    <div id="item1" onclick="handler('Mobiles');">
                        <div class="cati"><i class="fa fa-mobile"></i></div>
                        <div><h2>Mobiles</h2></div>
                    </div>
                    <div id="item1" onclick="handler('Furniture');">
                        <div class="cati"><i class="fa-solid fa-couch"></i></div>
                        <div><h2>Furniture</h2></div>
                    </div>
                    <div id="item1" onclick="handler('Fashion');">
                        <div class="cati"><i class="fa-solid fa-shirt"></i></div>
                        <div><h2>Fashion</h2></div>
                    </div>
                    <div id="item1" onclick="handler('Bikes');">
                        <div class="cati"><i class="fa-solid fa-motorcycle"></i></div>
                        <div><h2>Bikes</h2></div>
                    </div>
                    <div id="item1" onclick="handler('Electronics & Appliances');">
                        <div class="cati"><i class="fa-solid fa-tv"></i></div>
                        <div><h2>Electronics & Appliances</h2></div>
                    </div>
                    <div id="item1" onclick="handler('Books & Sports');">
                        <div class="cati"><i class="fa-solid fa-baseball-bat-ball"></i></div>
                        <div><h2>Books & Sports</h2></div>
                    </div>
                    <div id="item1" onclick="handler('Commerical Vehicles & Spares');">
                        <div class="cati"><i class="fa-solid fa-truck"></i></div>
                        <div><h2>Commerical Vehicles & Spares</h2></div>
                    </div>
                    <div id="item1" onclick="handler('Shoes');">
                        <div class="cati"><i class="fa-solid fa-shoe-prints"></i></div>
                        <div><h2>Shoes</h2></div>
                    </div>
                    <div id="item1" onclick="handler('Toys');">
                        <div class="cati"><i class="fa-solid fa-gamepad"></i></div>
                        <div><h2>Toys</h2></div>
                    </div>
                    <div id="item1" onclick="handler('Other');">
                        <div class="cati"><i class="fas fa-box-open"></i></div>
                        <div><h2>Other</h2></div>
                    </div>
                </div>
            </div>
                <div class="rmove_arror"><button><i class='fas fa-angle-right' style='font-size:24px'></i></button></div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="<%= assestPath('javascript/category.js') %>"></script>
        