<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="<%= assestPath('css/footer.css') %>">
<div id="footer">
    <div class="fone">
        <div class="fonedes">
            <div><h1>About Us</h1></div>
            <div><h3>We want to bring the future to you. We are making your products recyclable to reduce waste ,that are harmful
                 to our eco friendly . A Place where you can sell and buy old and new product in your near by location.</h3></div>
        </div>
    </div>
    <div class="ftwo">
        <div class="fonedes">
            <div><h1>Quick Links</h1></div>
            <a href="/shopcomPage"><div><h3>Home</h3></div></a>
            <a href="/profile"><div><h3>Profile</h3></div></a>
            <a href="/ads"><div><h3>Your Ads</h3></div></a>
            <a href="/cart"><div><h3>Cart</h3></div></a>
            <a href="/help"><div><h3>Help & Support</h3></div></a>
        </div>
    </div>
    <div  class="fthree">
        <div class="fonedes">
            <div><h1>Support</h1></div>
            <div><h3>Shopcom@gmail.com</h3></div>
            <div><h3>+91 9872541632</h3></div>
            <div><span><i class="fa-brands fa-instagram fa-2x">&nbsp;&nbsp;</i>
                <i class="fa-brands fa-twitter fa-2x">&nbsp;&nbsp;</i>
                <i class="fa-brands fa-facebook-f fa-2x">&nbsp;&nbsp;</i>
                <i class="fa-brands fa-linkedin-in fa-2x">&nbsp;&nbsp;</i>
                <i class="fa-brands fa-google-plus-square fa-2x">&nbsp;&nbsp;</i></span>
            </div>
            <div>
                <span><i class="fa fa-credit-card fa-2x">&nbsp;&nbsp;</i>
                <i class="fa-brands fa-cc-visa fa-2x">&nbsp;&nbsp;</i>
                <i class="fa-brands fa-cc-paypal fa-2x">&nbsp;&nbsp;</i>
                <i class="fa-brands fa-cc-mastercard fa-2x">&nbsp;&nbsp;</i>
                </span>
            </div>
        </div>
    </div>
</div>