<link rel="stylesheet" href="<%= assestPath('css/shopcomPage.css') %>">
<div id="selling_block">
    <div>
        <h2>SELL YOUR ITEMS</h2><br>
        <p>Sell your old and new item on shopcom</p>
    </div>
    <a href="/sellBucket" style="text-decoration: none;"><div class="sell_btn">SELL</div></a>
</div>